<h1>THIS IS LOGIN PAGE.</h1>

<form action="/login" method="post">
Email: <input type="text" name="email">
Password: <input type="text" name="password">
<button type="submit">login</button>
</form>